// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-task {
  margin-top: 8px;
  border: 1px solid rgb(173, 169, 169);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  text-align: center;
  box-shadow: 4px 4px 4px -1px #999999;
}

.container-each {

  display: flex;
  align-items: center;
  justify-content: center;
  // text-align: center;
  flex-direction: column;
}

.title {
  text-align: center;
}

.container-full {
  margin-top: 56px;
}
